@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@300;400;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body{
  padding-top: 80px;
  background-color: #151515;
  height: 100%;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
